* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

/*специфічність псевдокласів більша ніж у класів, тегів і т.д.*/


/* :hover - зміна стану елемента в момент наведення на нього курсора мишки*/
a:hover {
    background-color: grey;
}

button {
    border: none;
    background-color: transparent;
    
}

button:hover {
    cursor: pointer;
}


/*:link - приміняється до посилань які ще не відвідувались, їх стан*/
a:link {
    color: yellow;
}


/*:visited - приміняється до відвіданих посилань, які вже відвідувались */
a:visited {
    color: red;
}

/*:active - зміна в момент натискання/кліка на елемент*/
button:active {
    color: green;
}

/*:focus - приміняється для елементів які зараз в фокусі, тобто активні (наприклад якщо курсор стоїть в інпуті, або якщо табом переміщатись по сторінці)*/
input:focus {
    background-color: yellow;
}

input {
    outline: none;  /*прибираємо рамочку навколо інпута яка по замовчуванню встановлена, можливо потрібно ще бордер прибрати, вони можуть накладатись*/
    /*outline - не розширює елемент, і не вилазить за межі елемента, він якби додає рамку в межах самого елемента, а border - буде вилазити і розширювати елемент від чого може поїхати верстка
    тому для елементів типу інпута краще використовувати outline*/
}